nav.genericNav {
  margin: auto;
  display: flex;
  justify-content: space-around;

  button {
    padding: 1ex 1em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
  }
}
