.answer-pill {
  position: relative;

  &.right:before,
  &.wrong:before {
    display: block;
    width: 3ex;
    height: 3ex;
    text-align: center;
    line-height: 3ex;
    border-radius: 3ex;
  }

  &.right:before {
    content: '✔';
    background: darkgreen;
  }

  &.wrong:before {
    content: '✘';
    background: darkred;
  }

  .tooltip {
    display: none;
  }

  &.wrong:hover {
    cursor: help;

    .tooltip {
      display: block;
      min-width: 15em;
      position: absolute;
      top: 3ex;
      right: 0;
      background: white;
      padding: 2ex;

      .right-answer {
        display: block;
        font-weight: bold;
      }
    }
  }
}
