@media screen and (orientation: landscape) {
  .question-container {
    --width: 70vw;
    --height: calc(var(--width) * 2 / 3);

    font-size: calc(var(--width) / 30);
    --space: calc(var(--width) / 20);
  }
}

@media screen and (orientation: landscape) and (min-aspect-ratio: 3/2) {
  .question-container {
    --width: calc(3 / 2 * 65vh);
    --height: calc(var(--width) * 2 / 3);
  }
}

@media screen and (orientation: portrait) {
  .question-container {
    --height: 70vh;
    --width: calc(var(--height) * 59 / 91);

    font-size: calc(var(--height) / 30);
    --space: calc(var(--height) / 20);
  }
}

@media screen and (orientation: portrait) and (max-aspect-ratio: 2/3) {
  .question-container {
    --height: calc(3 / 2 * 65vw);
    --width: calc(var(--height) * 59 / 91);
  }
}

.question-container {
  width: var(--width);
  height: var(--height);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: calc(var(--width) / 75);

  padding: var(--space);

  .question-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #dfdfe3;

    padding: var(--space);
    height: calc(100% - 2 * var(--space));

    .question {
      flex-basis: 50%;
      background-color: white;
      padding: 0.1vw 0.1vw;

      p {
        text-align: center;
      }
    }

    .answer {
      border: 1px solid rgba(21, 21, 207, 0.5);
      border-radius: 5px;
      background-color: white;
      padding: 1ex 1em;
      color: rgba(21, 21, 207, 1);
      font-size: inherit;

      &:hover,
      &:focus {
        background-color: rgba(21, 21, 207, 0.25);
        border-color: rgba(21, 21, 207, 1);
      }
      &:active {
        background-color: rgba(21, 21, 207, 0.35);
        outline: none;
      }
    }
  }
}
