.quiz-result {
  width: 60vw;
  margin: 2vh auto;

  p.percent {
    text-align: center;
    font-size: 10vw;
    margin: 1vw;

    &.good {
      color: darkgreen;
    }

    &.bad {
      color: darkred;
    }
  }

  button[name='details'] {
    background-color: rgba(21, 21, 207, 1);
    border-color: rgba(21, 21, 207, 1);

    &:hover,
    &:focus {
      background-color: rgba(21, 21, 207, 0.8);
      border-color: rgba(21, 21, 207, 0.8);
    }

    &:active {
      background-color: rgba(21, 21, 207, 0.9);
      outline: none;
    }
  }

  button[name='menu'] {
    background-color: rgba(207, 21, 21, 1);
    border-color: rgba(207, 21, 21, 1);

    &:hover,
    &:focus {
      background-color: rgba(207, 21, 21, 0.8);
      border-color: rgba(207, 21, 21, 0.8);
    }

    &:active {
      background-color: rgba(207, 21, 21, 0.9);
      outline: none;
    }
  }
}

@media screen and (max-width: 30em) {
  .quiz-result {
    font-size: 3vw;
  }
}