.menu {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;

    button {
      border: 1px solid rgba(21, 21, 207, 0.5);
      border-radius: 5px;
      background-color: white;
      padding: 1ex 1em;
      color: rgba(21, 21, 207, 1);
      font-size: inherit;
      margin: 0.5ex 0.5em;

      &:hover,
      &:focus {
        background-color: rgba(21, 21, 207, 0.25);
        border-color: rgba(21, 21, 207, 1);
      }
      &:active {
        background-color: rgba(21, 21, 207, 0.35);
        outline: none;
      }
    }
  }
}
